<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head',{
        title: name
    }) %>

<body>
    <%- include('../partials/header') %>
    <main class="main">
        <article class="producto__container">
            <div class="producto__imagen">
                <img src="/images/productos/<%= image %>" alt="Mate Imperial">
            </div>
            <div class="info__producto">
                <h2><%= name %></h2>
                <p>
                   <%= description %>
               
                </p>
                <ul>
                    <li>Material: <%= material %></li>
                    <li>Tamaño: <%= tamanio %>CM</li>
                    <li>Capacidad: <%= capacidad %>ML</li>
                    <li>Marca: <%= brand%></li>
                   
                    <li>Disponible: <%= quantityInStock %></li>
                </ul>
                
                <% if (descuento){ %>
                    <p >
                        <span>$<%= toThousand(precio) %></span>
                        /
                        <b><%= descuento%>% OFF</b>
                    </p>
                
                        <p >
                            $ <%= toThousand((precio - (precio * descuento) / 100).toFixed(0)) %>
                        </p>
                    <% } else{ %>
                    
                    <p >
                        $ <%= precio %>
                    </p>
                    <% } %>
                <label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" value="1" min="1">
                <button class="agregar__carrito"> <i class="fas fa-shopping-cart"></i></button>
                <div class="combos_main-section-div-letra">
                    <h2  href="#" class="buy-now-button">COMPRAR AHORA</h2>
                                
                    <h2 href="#" class="buy-now-button">AGREGAR AL CARRO</h2>
                </div>
            </div>
           
        </article>

        <div class="envio__info">
            <p>¡Envío gratis para compras mayores a $35.00!</p>
            <label for="codigoPostal">Ingresa tu código postal:</label>
            <input type="text" id="codigoPostal" placeholder="Ej. 12345">
            <button class="calcular__envio">Calcular</button>
        </div>

        
    </main>
    
    <%- include('../partials/footer') %>

</body>
</html>