<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{
    title : "mate"
}) %>

<body>
    <%- include('../partials/header') %>
    <main class="home_main">
            <!-- Swiper -->
            <%- include('../partials/banner_1') %>
        <!---section--->
        <section class="home_main-section">
            <%- include('../partials/menu') %>
        </section>
<section class="combos_productos">
    <div class="combos_menu_destacados-imagenes">
        <div class="combos_menu_destacados-imagenes-div">
        <article class="combos_main-section-article">
            <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/pastico3.jpeg" alt=""  > </a>
            <br><a class="combos_main-section-img-letra"> mate</a>
        </article>
        <article class="combos_main-section-article">
            <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/plastico2.jpeg" alt=""  > </a>
            <br><a class="combos_main-section-img-letra">mate</a>
        </article>
        <article class="combos_main-section-article">
            <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/pastico1.jpeg" alt=""  > </a>
            <br><a class="combos_main-section-img-letra">mate</a>
        </article>
        <article class="combos_main-section-article">
            <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/madera5.jpeg" alt=""  > </a>
            <br><a class="combos_main-section-img-letra">mate</a>
        </article>
        </div>
    </div>
            <div class="combos_menu_destacados-imagenes">
            <div class="combos_menu_destacados-imagenes-div">
            <article class="combos_main-section-article">
                <a href="/productos/detaatle"><img class="combos_main-section-img" src="../images/fotos/mates/madera4.jpeg" alt=""  > </a>
                <br><a class="combos_main-section-img-letra">mate</a>
            </article>
            <article class="combos_main-section-article">
                <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/madera3.jpeg" alt=""  > </a>
                <br><a class="combos_main-section-img-letra">mate</a>
            </article>
            <article class="combos_main-section-article">
                <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/madera2.jpeg" alt=""  > </a>
                <br><a class="combos_main-section-img-letra">mate</a>
            </article>
            <article class="combos_main-section-article">
                <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/madera1.jpeg" alt=""  > </a>
                <br><a class="combos_main-section-img-letra">mate</a>
            </article>
            </div>
        </div>

            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/pastico3.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">mater</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/plastico2.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">mate</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/pastico1.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">mate</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/madera5.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">mate</a>
                </article>
                </div>
            </div>
            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/madera4.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">mate</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/madera3.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">mate</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/madera2.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">mate</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/mates/madera1.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">mate</a>
                </article>
                </div>
            </div>

            

      
            </section>
</section>
       
    </main>
    <%- include('../partials/footer') %>
    


</body>

</html>