<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{
    title : "set_yerbero"
}) %>

<body>
    <%- include('../partials/header') %>
    <main class="home_main">
            <!-- Swiper -->
            <%- include('../partials/banner_1') %>
        <!---section--->
        <section class="home_main-section">
            <%- include('../partials/menu') %>
        </section>
<section class="combos_productos">
   
           
            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/metalica_gris.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/tela_rosa.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera/a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/tela_negra.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/plastica_2.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera</a>
                </article>
                </div>
            </div>
            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/tela_rosa.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/metalica_marron.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/metalica_negra.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/plastica_1.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera</a>
                </article>
                </div>
            </div>
            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/metalica_gris.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/tela_rosa.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera/a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/tela_negra.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/plastica_2.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera</a>
                </article>
                </div>
            </div>
            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/metalica_gris.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/metalica_marron.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/metalica_negra.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/yerberas/plastica_1.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">yerbera</a>
                </article>
                </div>
            </div>
            

            

      
            </section>
</section>
       
    </main>
    <%- include('../partials/footer') %>
    


</body>

</html>