<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{
    title : "super_combos"
}) %>

<body>
    <%- include('../partials/header') %>
    <main class="home_main">
            <!-- Swiper -->
            <%- include('../partials/banner_1') %>
        <!---section--->
        <section class="home_main-section">
            <%- include('../partials/menu') %>
        </section>
<section class="combos_productos">
            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/argentina.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/colores.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/gris.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/image 39.png" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                </div>
            </div>

            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href=/productos"detalle"><img class="combos_main-section-img" src="../images/fotos/combos/marron.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/marron_fondo.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/navidad_fondo.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/negro.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                </div>
            </div>

            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/marron.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/marron_fondo.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/navidad_fondo.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/negro.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                </div>
            </div>
            <div class="combos_menu_destacados-imagenes">
                <div class="combos_menu_destacados-imagenes-div">
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/argentina.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/colores.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/gris.jpeg" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                <article class="combos_main-section-article">
                    <a href="/productos/detalle"><img class="combos_main-section-img" src="../images/fotos/combos/image 39.png" alt=""  > </a>
                    <br><a class="combos_main-section-img-letra">combo matero</a>
                </article>
                </div>
            </div>

            

      
            </section>
</section>
       
    </main>
    <%- include('../partials/footer') %>
    


</body>

</html>